* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body {
    min-width: 320px;
}


main{
    .cards {
        background-color:  #F7F7F7;
        padding: 20px 0;
        article {
            background-color: white;
            max-width: 315px;
            width: 90%;
            display: block;
            margin: 40px auto 0;
            padding-top: 5px;
            .cards-title {
                margin: 20px;
                font-size: 30px;
            }
            .cards-text {
                margin: 20px;
                padding-bottom: 10px;
                font-family: "Open Sans", sans-serif;
            }
            .cards-red-line {
                display: none;
            }
            .cards-blue-line {
                display: none;
            }
            .cards-green-line {
                display: none;
            }
            .cards-container-div-img {
                position: relative;
                height: 130px;
                .cards-red-circle {
                    width: 90px;
                    height: 90px;
                    display: inline-block;
                    background-color: #fb3b64;
                    border-radius: 100%;
                    margin-left: 170px;
                }
                img {
                    height: 100px;
                    width: 190px;
                    position: absolute;
                    left: 20%;
                    top: 20px;
                    z-index: 2;
                }
            }
            .cards-blue-circle {
                width: 130px;
                height: 130px;
                background-color: #08a6e4;
                border-radius: 100%;
                margin-left: 80px;
                img {
                    width: 170px;
                    height: 130px;
                }
            }
            .cards-background-green {
                background-color: #55dfb4;
                height: 195px;
                img {
                    margin-top: 25px;
                    width: 90%;
                }
            }
        }
    } 
}
@media (min-width: 1000px) {
    .cards {
        article:nth-child(1) {
            max-width: 1124px;
            height: 370px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
            .cards-hypertext {
                max-width: 416px;
                margin: 91px 0 91px 35px;
                .cards-title {
                    margin: 0;
                }
                .cards-text {
                    margin: 0;
                    padding: 0;
                }
                .cards-red-line {
                    width: 327px;
                    border-color: #fb3b64;
                    background-color: #fb3b64;
                    margin-top: 50px;
                    height: 4px;
                    display: block;
                }
            }
            .cards-container-div-img {
                display: flex;
                align-items: center;
                margin-right: 110px;
                img {
                    width: 380px;
                    height: 220px;
                    margin: 0;
                    padding: 0;
                    position: static;
                }
                .cards-red-circle {
                    margin: 0;
                    position: absolute;
                    border-radius: 15px;
                    width: 180px;
                    height: 180px;
                    transform: rotate(45deg);
                    right: 0px;
                    top: -70px;
                }
            }
        }
        article:nth-child(2) {
            max-width: 1124px;
            display: flex;
            height: 370px;
            padding: 0;
            justify-content: space-between;
            .cards-blue-circle {
                height: 320px;
                width: 320px;
                background-color: #08a6e4;
                border-radius: 100%;
                margin: 12px 0 30px 70px;
                img {
                    width: 426px;
                    height: 328px;
                    position: static;
                }
            }
            .cards-hypertext {
                width: 416px;
                margin: 69px 20px 71px 0;
                text-align: left;
                .cards-title {
                    margin: 20px;
                    font-size: 30px;
                }
                .cards-text {
                    margin: 20px;
                    padding-bottom: 10px;
                }
                .cards-blue-line {
                    width: 327px;
                    border-color: #08a6e4;
                    background-color: #08a6e4;
                    margin-top: 50px;
                    margin-left: 20px;
                    height: 4px;
                    display: inline-block;
                }
            }
        }
        article:nth-child(3) {
            background-color: #F7F7F7;
            max-width: 1124px;
            display: flex;
            height: 370px;
            padding: 0;
            justify-content: space-between;
            .cards-hypertext {
                width: 60%;
                max-width: 660px;
                text-align: left;
                background-color: white;
                margin-right: 60px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .cards-title {
                    margin: 20px;
                    font-size: 30px;
                }
                .cards-text {
                    margin: 20px;
                    padding-bottom: 10px;
                }
                .cards-green-line {
                    width: 327px;
                    border-color: #55dfb4;
                    background-color: #55dfb4;
                    margin-top: 50px;
                    margin-left: 20px;
                    height: 4px;
                    display: inline-block;
                }
            }
            .cards-background-green {
                background-color: #55dfb4;
                height: 370px;
                img {
                    margin-top: 25px;
                    width: 440px;
                }
            }
        }
    }
}